Django==1.6.7
Markdown==2.5
Mezzanine==3.1.10
Pillow==2.5.3
South==1.0
argparse==1.2.1
beautifulsoup4==4.3.2
bleach==1.4
distribute==0.6.24
django-appconf==0.6
django-argonauts==1.0.1
django-compressor==1.4
django-debug-toolbar==1.2.1
django-extensions==1.4.0
django-filer==0.9.7
django-mptt==0.6.1
django-polymorphic==0.5.6
django-pyscss==1.0.3
django-treebeard==2.0
-e git+git@github.com:zmetcalf/django-widgy.git@60d8a49ad00188c5379437d8965778cba9a3d192#egg=django_widgy-dev
easy-thumbnails==2.1
enum34==1.0
filebrowser-safe==0.3.6
future==0.9.0
grappelli-safe==0.3.13
html2text==2014.9.8
html5lib==1.0b3
oauthlib==0.6.3
phonenumbers==6.2.0
pyScss==1.2.0
pytz==2014.7
requests==2.4.1
requests-oauthlib==0.4.1
six==1.8.0
sorl-thumbnail==11.12.1b
sqlparse==0.1.11
tzlocal==1.0
widgy-blog==0.1-dev
wsgiref==0.1.2
